<div class="collection">
  <h5 class="collection-item center-align">Top 5 ranking</h5>
  <% skaters.each do |skater_id, likes|
    skater = Skater.find(skater_id)%>
    <a href="<%= skater_path(skater)%>" class="collection-item"><img class="navbar--title rounded--avatars" style="width:35px; height:35px;" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar"> <%= skater.username %>
    <span class="navbar--title badge"><%=likes%> likes</span></a>
  <%end%>
</div>
</div>
