<div class="col s6 offset-s2 pushing__div--below">
  <img class="winner--image" src="http://s3.amazonaws.com/ownthespot/skaters/logos/000/000/122/medium/winner.jpg" width="140" height="137" alt="Number one" align="left">
</div>

<div class="col s4">
  <h5>Top 3 ranking</h5>
  <div class="collection">
    <% skaters.each do |skater| %>
      <a href="<%= new_skater_path%>" class="collection-item">
        <img class="rounded--avatars" style="width:35px; height:35px" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
        <%= skater.username %>
        <span class="badge">18 likes</span>
      </a>
    <%end%>
  </div>
</div>
