<div class="row">
	<div class="col l8 offset-l2 s12">
		<div class="section">
			<div class="card">
				<div class="card-content spot__show--collapsible">
					<span class="card-title activator grey-text text-darken-4">
						<h4 class="center-align">Edit your profile</h4>
						<div class="center-align"><%= render 'helpers/account_edit_form', user: current_user %> </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="section">
		</div>
	</div>
</div>
