<div class="main__background custom__background-<%=@bg_id%>">
	<div class="container">
		<div class="row">
			<div class="col m8 offset-m2 s12">
				<div class="section">
					<div class="card">
						<div class="card-content spot__show--collapsible">
							<span class="card-title activator grey-text text-darken-4">
								<h4 class="center-align">Register as a new user</h4>

                <% unless bypass_instagram_auth? %>
								  <h5 class="center-align">Sign in with your Instagram account</h5>
                <% end %>

								<div class="center-align"><%= render 'helpers/account_edit_form' %></div>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12">
				<div class="section">
				</div>
			</div>
		</div>
	</div>
</div>
