<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Your profile info</h3>
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= current_user.logo.url(:thumb)%>" alt="Skater's avatar">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= current_user.username %></h4>
          <div>balbalab</div>
          <div>
            <%= link_to "Update your profile", edit_skater_path(current_user)%>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
