<ul id="showspot--ul" class="collapsible" data-collapsible="accordion">
   <li>
     <div class="center-align hoverable jumbotron collapsible-header show__collapse__header" id="show_spot_info">
       <div class="div__dropdown--showspot">
         <img class="navbar--title rounded--avatars" src="<%= spot.logo.url(:thumb)%>" alt="Spot's avatar">
         <span class="text__dropdown--card"><%= truncate spot.name, length: 19 %></span>
       </div>

     </div>
     <button id="show_spot_info-button" class="show__spot--seemore btn">Click above for more
     </button>
     <div class="collapsible-body spot__show--collapsible">
       <p class="navbar--title center-align"><%= spot.description %></p>
       <div class="divider"></div>
       <p class="center-align spot__show--collapsible"><em><%= spot.videos.length %> clips submited for this spot</em></p>
     </div>

   </li>
 </ul>
