<div class="card">
  <div class="card-image">
    <img class="rounded--avatars" src="<%= spot.logo.url(:square)%>" alt="Spot's avatar">
    <span class="card-title">
      <%= spot.name %>
    </span>
  </div>
  <div class="card-content">
    <p><%= truncate spot.description, length: 75 %>...</p>
    <br>
    <div class="divider"></div>
    <br>
    <p class="center-align"><em><%= spot.videos.length %> clips submited for this spot</em></p>
  </div>
</div>
