<div class="media">
  <div class="media-left media-middle">
    <img class="media-object rounded--avatars" src="<%= spot.logo.url(:square)%>" alt="Spot's avatar">
  </div>
  <div class="media-body media-middle">
    <h5 class="media-heading"><%= spot.name %>
    </h5>
    <%= spot.description %>
  </div>
</div>
