<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>The crime scenes</h3>
      <% @spots.each do |spot|%>
        <ul>
          <li>
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="<%= spot.logo.url(:thumb)%>" alt="Spot's avatar">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= spot.name %></h4>
                 <%= spot.description %>
                  <p>balbalab</p>
              </div>
            </div>
          </li>
        </ul>
        <% end %>
    </div>
  </div>
</div>
