<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Check this spot being murdered</p>
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="<%= @spot.logo.url(:thumb)%>" alt="Spot's avatar">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @spot.name %></h4>
          <%= @spot.description %>
        </div>
      </div>
      <% if @videos.any?%>
        <div class="row">
          <% @videos.each do |video| %>
            <% if @spot.id = video.spot_id %>
              <div class="col-md-6 video__carousel--slide">
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video.url.slice(-11, 11) %>"></iframe>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>No video submitted yet. Go ahead, submit yours and become the boss of the spot</p>
      <% end %>
    </div>
  </div>
</div>
