<div class="main__background custom__background-<%=@bg_id%>">
<div class="container">
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="section">
        <div class="card">
          <div class="card-content spot__show--collapsible">
            <span class="card-title activator grey-text text-darken-4">
              <h3 class="center-align">Getcha log in!</h3>
              <div class="center-align"><%= render 'helpers/signin_form' %></div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="section">
      </div>
    </div>


</div>
</div>
