<div class="main__background custom__background-<%=@bg_id%>">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <div class="section">
          <div class="card">
            <div class="card-content spot__show--collapsible">
              <span class="card-title activator grey-text text-darken-4">
                <h4 class="center-align">Log in!</h4>
                <div class="center-align">
                  <%= render 'helpers/signin_form' %>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="section">
          <div class="card">
            <div class="card-content spot__show--collapsible">
              <span class="card-title activator grey-text text-darken-4">
                <h4 class="center-align">Not registered yet?</h4>
                <div class="center-align">
                  <a class="white-text" href=<%=new_skater_path%>>
                    <button class="btn hoverable waves-effect signup__vote__button waves-light" type="submit" name="action">Create an account
                      <i class="material-icons right">send</i>
                    </button>
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="section">
        </div>
      </div>
    </div>
  </div>
</div>
