<li><%= link_to 'Log in', login_path %></li>
<li><%= link_to 'Signup', new_skater_path %></li>
<li><%= link_to 'Spots', spots_path, class: "active"%></li>
<li><%= link_to 'Leaderboard', rankings_path %></li>
<li><a href="https://instagram.com/ownthespot">Instagram</a></li>
<li><a href="https://www.facebook.com/ownthespotofficial">Facebook</a></li>
