<h1>Hi, <%= @skater.username %> ! </h1>
<p>
  Welcome to OwnTheSpot.TV.
  You are now part of the Mob.
  Your username is: <%= @skater.username %>.
  You can reset your password online on the 'Edit your profile' tab.

  Keep on shredding,
  OwnTheSpot.TV team
</p>
