<h1>Hi <%= @skater.username %> and welcome to the Family ! </h1>
<br>

<h5>You are now part of the OwnTheSpot.TV mob.</h5>
<p>Your username is: <%= @skater.username %><br>
You can reset your password online on the 'Edit your profile' tab.<br>
Feel free to contact us if needed.</p>

<h5>Keep on shredding</h5>
<br>
<h2>OwnTheSpot.TV team</h2>
<a href="http://ownthespot.tv/" target="_blank">Back to the homepage</a>
