<h1>Hi <%= @skater.username %> and welcome to the Family ! </h1>

<h5>You are now part of the OwnTheSpot.TV mob</h5>
<br>
<p>Your username is: <%= @skater.username %></p>
<p>You can reset your password online on the 'Edit your profile' tab.</p>
<br>
<p>Feel free to contact us if needed.</p>

<h5>Keep on shredding</h5>
<h4>OwnTheSpot.TV team</h4>
<a href="http://ownthespot.tv/" target="_blank">Back to the homepage</a>
