<div class="row">
  <div class="col l6 offset-l3 s12 center-align">
    <div class="section">
      <div class="card-panel jumbotron">
        <span class="black-text">
          <h4>Here is a list of your recent clips</h4>
          <a class="waves-effect waves-light btn-large" href=<%= new_video_path %>>
            <i class="material-icons left">verified_user</i>Copy the link and go paste it
          </a>
          <%= @markup.html_safe %>
        </span>
      </div>
    </div>
  </div>
</div>
