<div class="col l6 offset-l3 s12 center-align">
  <div class="section">
    <div class="card-panel jumbotron">
      <span class="black-text">
        <%= @markup.html_safe %>
      </span>
    </div>
  </div>
</div>
