<footer class="grey darken-4 z-depth-2">
    <a class="white-text text-lighten-4 footer_left-text" href="/contact">© 2015 OwnTheSpot.TV</a>
    <a class="white-text text-lighten-4 right footer_right-backtohomepage" href="/">Back to Homepage</a>
</footer>
