<footer class="grey darken-4 z-depth-2 page-footer">
  <div class="footer-copyright">
    <div class="container">
      <a class="hoverable white-text text-lighten-4 footer__elements--padding" href="/contact">© 2015 OwnTheSpot.TV</a>
      <a class="hoverable white-text text-lighten-4 footer__elements--padding right" href="/">Back to Homepage</a>
      <a class="hoverable white-text text-lighten-4 footer__elements--padding right" href="mailto:ownthespottv@gmail.com">Contact</a>
    </div>
  </div>
</footer>
