<footer class="footer-copyright teal lighten-2 z-depth-2">
    <span class="footer_left-text white-text">© 2015 OwnTheSpot.TV</span>
    <a class="footer_right-a white-text text-lighten-4 right" href="/">Back to Homepage</a>
</footer>
