<footer class="grey darken-4 z-depth-2 page-footer">
  <div class="footer-copyright">
    <div class="container">
      <span class="hoverable white-text text-lighten-4 footer__elements--padding">© 2015 OwnTheSpot.TV</span>
      <a class="hoverable white-text text-lighten-4 footer__elements--padding" href="mailto:ownthespottv@gmail.com"><span class="footer__text--padding">Contact</span></a>
      <a class="hoverable white-text text-lighten-4 footer__elements--padding" href="/"><span class="footer__text--padding">Back to Homepage</span></a>
    </div>
  </div>
</footer>
