<footer>
  <div class="footer navbar-fixed-bottom">
    <ul>
      <li><%= link_to 'Homepage', root_path %></li>
      <li><a href="https://www.facebook.com/ownthespotofficial"><img class="rounded--avatars fb--footer__icon" src="http://i.imgur.com/MUIW63w.png" height="30" width="30"></a></li>
      <li><a href="http://www.instagram.com/ownthespotv"><img class="rounded--avatars insta--footer__icon" src="http://i.imgur.com/HnqKPj8.png" height="30" width="30"></a></li>
    </ul>
  </div>
</footer>
