<footer>
  <div class="footer navbar-fixed-bottom">
    <ul>
      <li class="homepage__footer"><%= link_to 'Homepage', root_path %></li>
      <li class="pull-right copyright__footer">2015 All rights reserved</li>
    </ul>
  </div>
</footer>
