<a class='dropdown-button center-align btn' data-activates='dropdown_categories'>Sorted by</a>
<ul id='dropdown_categories' class='dropdown-content'>
  <li><a class="center-align" id="leaderboardLikes">Overall</a></li>
  <li class="divider"></li>
  <li><a class="center-align" id="spotSelection">Spots</a></li>
  <li><a class="center-align" id="leaderboardLikes">Likes</a></li>
  <li><a class="center-align" id="leaderboardVideos">Videos</a></li>
</ul>
