
<ul class="collapsible" data-collapsible="accordion">
  <% skaters.each do |skater|
    link = current_user ? skater_path(skater) : new_skater_path
  %>
    <li>
      <div class="collapsible-header">
        <img class="navbar--title rounded--avatars" style="width:35px; height:35px" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
        <%= skater.username %>
      </div>
      <div class="collapsible-body jumbotron center-align">
        <p>
          <% if skater.videos.count == 1 %>
            He published <%= skater.videos.count %> video!
          <%else %>
            He published <%= skater.videos.count %> videos!
          <%end%>
        </p>
      </div>
    </li>
  <%end%>
</ul>
