<a class='dropdown-button center-align btn' href='#' data-activates='dropdown_categories'>Sorted by</a>
<ul id='dropdown_categories' class='dropdown-content'>
  <li><a class="center-align" href="<%= rankings_path%>">Overall</a></li>
  <li class="divider"></li>
  <li><a class="center-align" href="<%= rankings_path%>?type=spots">Spots</a></li>
  <li><a class="center-align" href="<%= rankings_path%>?type=likes">Likes</a></li>
  <li><a class="center-align" href="<%= rankings_path%>?type=videos">Videos</a></li>
</ul>
