<div class="collection">
  <h5 class="collection-item center-align">Top 5 ranking</h5>
  <% skaters.each do |results|
    skater = results[0]
    likes = results[1]
    link = current_user ? skater_path(skater) : new_skater_path
  %>

    <a href=<%= link %> class="hoverable collection-item">
      <img class="navbar--title rounded--avatars" style="width:35px; height:35px" src="<%= skater.logo.url(:thumb)%>" alt="Skater's avatar">
      <%= skater.username %>
      <span class="navbar--title badge"><%=likes%> likes</span>
    </a>
  <%end%>
</div>
