<% if videos.length == 1 %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Latest entry
          </h5>
        </span>
      </div>
    </div>
  </div>
  <div class="col s12">
    <div class="section">
      <%= render partial: "helpers/video_media", locals: {video: videos[0]} %>
      <%= render partial: "helpers/buttons_form", locals: {:video => videos[0]} %>
    </div>
  </div>
<% else %>
  <div class="col s12 m6 offset-m3">
    <div class="section">
      <div class="divider"></div>
      <div class="card-panel jumbotron center-align">
        <span class="black-text">
          <h5 class="center-align">
            Latest entries
          </h5>
        </span>
      </div>
    </div>
  </div>
  <% videos.each do |video| %>
    <div class="col l6 m12 s12">
      <div class="section">
        <%= render partial: "helpers/video_media", locals: {video: video} %>
        <%= render partial: "helpers/buttons_form", locals: {:video => video} %>
      </div>
    </div>
  <% end %>
<% end %>
