<div class="media">
  <div class="media-left media-middle">
    <img class="media-object rounded--avatars" src="<%= spot.logo.url(:thumb)%>" alt="Spot's avatar">
  </div>
  <div class="media-body media-middle">
    <h4 class="media-heading"><%= spot.name %></h4>
    <%= spot.description %>
  </div>
</div>
