= form_tag ('/login'), id: "loginForm" do

  %label{"for" => "username"} Username
  = text_field_tag :username


  %label{"for" => "password"} Password
  = password_field_tag :password

  = submit_tag "Log in", {"class" => "btn btn-primary"}
