<p>Wanna be on top of the Skate Mob? </p>
<div class="btn-group">
  <%= link_to 'Log in', login_path, class:"btn btn-primary" %>
  <%= link_to 'Signup', new_skater_path, class:"btn btn-primary"%>
</div>
