<p>Wanna be on top of the Skate Mob? </p>
<div class="btn-group">
  <button class="btn btn-default"><%= link_to 'Log in', login_path %></button>
  <button class="btn btn-default"><%= link_to 'Signup', new_skater_path %></button>
</div>
