<div class="container">
  <div class="jumbotron">
    <img alt="Brand" class="pull-right" width="300" height="300" src="http://i.imgur.com/tjF76Fq.png">
    <h1>Welcome to OwnTheSpot.TV</h1>
    <p>30 skate spots located in Barcelona</p>
    <p>Best Trick, Best Line, Worst Slam... Send us your best videos!</p>
    <p>Watch the footy, you decide who is the Boss of the spot!</p>
    <p><a class="btn btn-primary btn-lg" href="/spots" role="button">Learn more</a></p>
  </div>
</div>
