<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>8 rules to rule them all</h1>
      <ul>
        <li>Only registered users can submit videos.</li>
        <li>Only registered users can vote for the best clips. Each user has one vote for each video: like or dislike.</li>
        <li>There is 1 overall leaderboard (sorting skaters per total number of likes) and 3 leaderboards per spot (Best Trick, Firing Line, Worst SLam)</li>
        <li>Post the right video - a real skateboarding video, not posers allowed in here - on the right spot. Otherwise, you might be banned</li>
        <li>The skater who owns a spot in one of those 3 categories receives a badge. Best Trick. you're the Boss; Firing Line: you're the Caporegime, Worst Slam: you're the Best Soldier.</li>
        <li>It's not a game of SKATE, you can do bonelesses, grabs, feet on the ground,...</li>
        <li>Feel free to hit us on Facebook or via email to suggest any improvements</li>
        <li>Don't worry about NBD's</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Wanna be on top of the Skate Mob? </p>
      <button type="button" role="button" data-target="#myModal" data-toggle="modal" class="btn btn-default"><%= link_to "Create a new account", "#myMdoal"%></button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Register as a new user</h4>
            </div>
            <div class="modal-body">
              <%= render 'helpers/account_new_form' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" role="button" data-target="#myModal1" data-toggle="modal" class="btn btn-default"><%= link_to "Or log in with your account", "#myMdoal1"%></button>
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel1">Sign in</h4>
            </div>
            <div class="modal-body">
              <%= render 'helpers/signin_form' %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
