<div class="container">
  <div class="row homepage--pushcontent__below">
    <div class="col-md-6 col-md-offset-3 rules__about--div">
      <h2 class="rules__title--styling">8 rules to rule them all</h2>
        <p class="rules__text--styling">20 spots, three categories: <b>Best Trick, Firing Line, Worst SLam</b></p>
        <p class="rules__text--styling">Registered users can <b>submit their own YouTube clips</b></p>
        <p class="rules__text--styling">Only registered users can <b>vote</b> for the best clips</p>
        <p class="rules__text--styling">Each user has one vote for each video: <b>Like or Dislike</b></p>
        <p class="rules__text--styling">It's not a game of SKATE, you can do bonelesses, grabs, benihanas...</p>
        <p class="rules__text--styling">Don't worry about NBD's</p>
        <p class="rules__text--styling">By clicking 'Report poser', you can inform us if a video is not legit</p>
        <p class="rules__text--styling">Feel free to hit us on Facebook or via email to suggest any improvements</p>
    </div>
  </div>

  <div class="row">
    <% if current_user.nil? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= render 'helpers/suscribe_buttons' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
