<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>7 rules to rule them all</h1>
      <ul>
        <li>Only registered users can submit videos.</li>
        <li>Only registered users can vote for the best clips. Each user has one vote for each video: like or dislike.</li>
        <li>There is 1 overall leaderboard (sorting skaters per total number of likes) and 3 leaderboards per spot (Best Trick, Firing Line, Worst SLam)</li>
        <li>Post the right video - a real skateboarding video, not posers allowed in here - on the right spot. Otherwise, you might be banned</li>
        <li>The skater who owns a spot in one of those 3 categories receives a badge. Best Trick. you're the Boss; Firing Line: you're the Caporegime, Worst Slam: you're the Best Soldier.</li>
        <li>It's not a game of SKATE, you can do bonelesses, grabs, feet on the ground,...</li>
        <li>Feel free to hit us on Facebook or via email to suggest any improvements</li>
      </ul>
    </div>
  </div>
</div>
