<div class="card-panel jumbotron center-align">
  <span class="black-text center-align">
    <%= link_to edit_video_path(video) do %>
      <i class="material-icons">settings</i> Modify this video
    <% end %>
  </span>
  <br>
  <span class="black-text">
    <%= link_to video, method: :delete, data: { confirm: "Are you sure?"} do %>
      <i class="material-icons">delete</i> Delete this video
    <% end %>
  </span>
</div>
