/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //=require leaflet
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #map {
   height: 550px;
 }

.navbar {
  background-color: #046bd5 !important;
  border-bottom: 2px solid white;
}

.navbar-default {
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.navbar-nav li a,,
.navbar-brand {
  color: white !important ;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #337AB7 !important;
  }

.homepage--pushcontent__below {
  margin-top: 20px;

  }

.navbar-nav .open a,
.nav .open a:hover,
.nav .open a:focus,
.open .dropdown-menu
 {
  background-color: #337ab7;
}

 .leaflet-popup-content-wrapper {
   width: 238px;
 }

.pushing__body--below {
  margin-bottom: 20px;
}

.open .skater__menu--whitebg {
  background-color: white !important;
}


 .modal-body {
     height: 60%;
 }

.winner--image {
  margin-bottom: 20px;
}

.map--push--below {
  margin-top: 25px;
}

 .pushing__div--below {
   margin-top: 20px;
 }


.video__carousel--border {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

//* rules styling

.rules__text--styling {
  font-size: 15px;
  line-height: 150%;
}

.rules__title--styling {
  margin-bottom: 30px;
}

 //*General styling

 html {
   position: relative;
   min-height: 100%;
  }

 .before--footer {
   margin-bottom: 40px;
 }

  ul {
    list-style: none;
  };

 .alert {
   padding: 5px 35px;
   margin: 3px auto;
   border-radius: 50px;
   width:80%;
 };

 .button__category--spotshow {
   margin-top: 40px;
 }

.spot__description--spotshow {
  margin-top: 20px;
}

.video--carousel__margin {
  margin-top: 1px solid #eee;

}

 .media {
   padding: 10px 0;
 }

 .rules__about--div {
   margin-bottom: 20px;
 }

 body {
   margin: 0 0 40px; /* bottom = footer height */
 }


 //* navbar




.navbar-brand {
 margin-top: -6px;
}

.navbar-brand p {
 margin-top: -24px;
 padding-left: 45px;
}

//* footer

.copyright__footer {
  margin-top: -17px;
  margin-right: 15px;
}

.homepage__footer {
  margin-top: 5px;
}

.footer {
  position: fixed;
  margin-bottom: auto;
  height: 25px;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
};

//*YouTube videos styling


.vote__buttons {
  float: left;
  padding: 3px 3px 0 3px;
}

.video__carousel--slide {
  padding: 25px 25px 35px 25px;
}

.rounded--avatars {
  border-radius: 50%;
}


.fb--social__icon {
  margin-top: -2px;
}

.insta--badge {
  padding-top: 12px;
  padding-left: 5px;
}

// Contact form styling

.hidden {
  display: none;
  /*flash*/
}

  .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  }

  .alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  }

  .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  }

  .alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
