/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //=require leaflet
 */

@import "materialize/components/color";
@import 'materialize';

.welcome_card-text {
  line-height: 1.5em;
}

.nav-wrapper a:hover {
  color: white;
  background-color: #00695c;
}

.welcomecard_bottom-link  {
  margin-top: 8% !important;
}

footer a:hover {
  color: white;
  background-color: #00695c;
}



footer {
  padding: 10px 0;
}

.nav-wrapper {
  @extend .teal, .lighten-4;
}

#map {
  height: 550px;
}

a.brand-logo {
  height: 64px;
  padding: 0 15px;
}

.navbar-left_name {
  padding-left: 5%;
}

.top_main-logo {
 padding-left: 5%;
}

.top_main-ul {
 padding-right: 5%;
}


.footer_left-text {
  padding-left: 5%;
}

.footer_right-backtohomepage {
  padding-right: 5%;
}




 .leaflet-popup-content-wrapper {
   width: 238px;
 }

.pushing__body--below {
  margin-bottom: 20px;
}

.open .skater__menu--whitebg {
  background-color: white !important;
}

.winner--image {
  margin-bottom: 20px;
}

.map--push--below {
  margin-top: 25px;
}

 .pushing__div--below {
   margin-top: 20px;
 }


.video__carousel--border {
  border-top: 1px solid #eee;
  padding-top: 10px;
}


 //*General styling

 html {
   position: relative;
   height: 100%;
  }

  ul {
    list-style: none;
  };

 .alert {
   padding: 5px 35px;
   margin: 3px auto;
   border-radius: 50px;
   width:80%;
 };

 .button__category--spotshow {
   margin-top: 40px;
 }

.spot__description--spotshow {
  margin-top: 20px;
}

.video--carousel__margin {
  margin-top: 1px solid #eee;

}

 .media {
   padding: 10px 0;
 }

 .rules__about--div {
   margin-bottom: 20px;
 }

body {
  margin: 0 0; /* bottom = footer height */
  height: 100%;
}


//*YouTube videos styling


.vote__buttons {
  float: left;
  padding: 3px 3px 0 3px;
}

.video__carousel--slide {
  padding: 25px 25px 35px 25px;
}

.rounded--avatars {
  border-radius: 50%;
}


// Contact form styling

.hidden {
  display: none;
  /*flash*/
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  }

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
