// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  .regular-checkbox-edit {
    font-size: 15px;
  }

  input[name="skater[logo]"] {
    display: block;
    padding-left: 20%;
    margin: 1em 0;
  }

  .stance-checkboxes-form {
    margin: 1em 0;
  }

}

