// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  input[name="skater[logo]"] {
    display: block;
    padding-left: 20%;
    margin: 1em 0;
  }

  .stance-radio-form {
    margin: 0 0 1.5em 0;
    padding-right: 2em;

    .stance-radio-edit-label {
      font-size: 15px;
    }
    .stance-radio-btn-container {
      padding: 0 2em;
    }
  }

}

